footer {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #fff;
  font-size: 50px;
  @include opacity(60);
  font-family: 'Bevan';
  text-align: left;
  line-height: 50px;
  text-transform: uppercase;
  span { display: block; }
  small { 
    @include opacity(75);
    border-top: 10px solid #fff;
    font-size: 24px; }
}
