header {
  @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.2));
  //background: #31363c;
  height: 30px;
  position: relative;
  z-index: 99;
  nav {
    ul {
      li {
        display: inline-block;
        font-weight: bold;
        a {
          text-decoration: none;
          color: #000;
          line-height: 30px;
          display: inline-block;
          height: 30px;
          padding: 0 10px;
          margin: 0 1px;
          &:hover {


          }
          &.selected {
            color: #000;

            border: 1px solid #9396A0;
            border-width: 0 1px;
            margin: 0;
          }
        }
      }
    }
  }
}
.sub-head {
  padding: 20px 0;
  margin: 0;
  @include linear-gradient(top, #e3e4e7 8%, #d5d7da 100%);
  @include box-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.1));
  @include border-radius(0 0 5px 5px);
}

.app {    
  nav {
    text-align: left;
    margin: 0 auto;
    width: $layout_width;
    ul {
      display: inline-block;
      &.user {
        float: right;
        li:first-child {
          border-right: 1px solid #999;
          font-weight: normal;
          a {
            border-right: 0;
          }
        }
      }
    }
  }
}
