html {
  height: 100%;
}
body {
  background: url('/assets/fs_online.jpg') center top no-repeat $body_color;
  font-family: $helvetica;
  height: 100%;
  text-align: center;
  color: #333;
  font-size: 13px;
  position: relative;
}
a { 
  color: #0088d2;
  &:hover {
    color: #036;
  }
}

.view {
  background: url('/assets/desk.png') 0 0 repeat #ccc;
  border: 12px solid #412624;
  @include box-shadow(0 0 3px rgba(0, 0, 0, 1) inset);
  margin: 30px 0;
  padding: 10px 30px 30px;
  text-align: left;
  color: #fff;
  @extend .drop-shadow;
  @extend .curved;
  a { color: #fff; }
  h1 {
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  h1, h2, h3 { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
  hr {
    margin: 30px 0;
  }
  dl { font-size: 15px; margin-top: 20px;}
}

.app {  
  .input.password input, .input.string input, textarea {
    width: 600px;
  }
}

.content { 
  padding: 0 30px 30px;
  margin: auto;
  width: $layout_width;
  position: relative;
  a.fixed {
    position: absolute;
    right: 30px;
    top: -10px;
  }
}
