h3 Task
= challenge.task

h3 Additional information
= challenge.additional_information

= simple_form_for :answer, url: challenge_answers_path(challenge) do |form|
  = form.input :cmd, value: challenge.console
  = form.submit 'Submit'
